/**
 * @name Smooth Harmony
 * @author r
 * @description Smooth and responsive Discord theme with nitro colors applied everywhere, cleaner look and less clutter.
 * @version 0.9.9.1
 */

@import url('https://github.com/xslvrrr/transparent-theme/blob/main/Theme%20code/responsive.css');

/* Settings */
:root{
    --accent: var(--os-accent-color); 
}
/*  Change the Purple discord accent 
    This color will be the "new messages bar", 
    join arrows, etc.

    Examples:
    --accent: aqua;
    --accent: deeppink;
    --accent: greenyellow;
    --accent: aquamarine;
    --accent: crimson;
 
    --accent: --os-accent-color is the default  */    
